div {
    height: 100px;
    width: 100px;
}

div.one{
    border: 10px solid #000000;
    background-color: #fe3103;
}
div.two{
    border: 20px solid #000000;
    background-color: #fff714;
    margin: 0 0 0 120px;
}
div.three{
    border: 10px solid #000000;
    background-color: #00cd0e;
    margin: 0 0 0 260px;

}



body {
    background-color: #A79277;
    margin:0;
}
section{
    background-color:#D5F9DE ;
}
h1{
    background-color:#D1BB9E ;
}
section{
    background-color:#EAD8C0 ;
}
.red_text {
    color: #d82727;
}
nav {
    background-color: aquamarine;
    border: 5px solid #009749;
    padding: 18px;
    margin-bottom: 5px;
}
hr {
    border-style: none;
    border-top: 12px dotted greenyellow;
    width: 50%;
    margin: 20px auto;
    
}
a{
    text-decoration:none;
}
a:hover{
    color: aquamarine;
}
.bluetext{
    color: navy
}

